@import "../../variables.scss";

.styled-basket {
  min-height: 100vh;
  height: 100%;
  // width: 30rem;
  width: 100%;
  background: $light-primary;
  // border-left: 3px solid $green-main;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1.7rem 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: $green-main;
  }

  .checkout-button-wrapper {
    margin-top: auto;
    button {
      width: 100%;
    }
  }
}

.dark {
  background: $dark-primary;
}

.basket-items {
  overflow-y: auto;
  margin: 1rem 0;
  flex-grow: 1;
  position: relative;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background: light;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $green-main;
    border-radius: 10rem;

    &:hover {
      background-color: darken($green-main, 10%);
    }
  }
}

.break-line {
  width: 100%;
  height: 2px;
  background-color: rgb(240, 240, 240);
}

.basket-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  span {
    font-size: 1.2rem;
  }
}

@media (min-width: 700px) {
  .styled-basket {
    width: 25rem;
    border-left: 3px solid $green-main;
  }
}

@media (min-width: 900px) {
  .styled-basket {
    width: 30rem;
    border-left: 3px solid $green-main;
  }
}
