.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.store-logo {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  display: none;
}

.basket-icon-button {
  height: 2rem;
  width: 2rem;
  z-index: 2;
}

.theme-button {
  margin-right: 2rem;
  display: none;
}

@media (min-width: 500px) {
  .theme-button {
    display: initial;
  }
}
