@import "../variables.scss";

.inner-wrapper {
  padding: 2rem 4rem;
  min-height: 100vh;
}

.outer-wrapper {
  max-height: 100vh;
  transition: all 0.5s ease-in-out;
}

.light {
  background: $light-primary;
  color: $dark-primary;
}

.dark {
  background: $dark-primary;
  color: $light-primary;
}
